using System;
using System.Collections.Generic;
using {{namespace}}.Model;

namespace {{namespace}}.Client
{
    /// <Summary>
    /// Notification Topics
    /// </Summary>
    public static class NotificationTopics
    {
        /// <Summary>
        /// Topic Name to Type Dictionary
        /// </Summary>
        public static Dictionary<string, Type> Topics;

        static NotificationTopics()
        {
            Topics = new Dictionary<string, Type>
            { {{#notifications}}
              {"{{topic}}", typeof({{class}})},{{/notifications}}
            };
        }
    }
}