package {{invokerPackage}}

object Configuration {
    var defaultApiClient: ApiClient? = null
        get() {
            if (field == null) defaultApiClient = ApiClient()
            return field
        }
}