# {{moduleName}}.{{classname}}{{#description}}

{{description}}{{/description}}

All URIs are relative to *{{basePath}}*

| Method | HTTP request | Description |
| ------------- | ------------- | ------------- |
{{#operations}}{{#operation}}[**{{operationId}}**](#{{operationId}}) | **{{httpMethod}}** {{path}} | {{#summary}}{{summary}}{{/summary}}
{{/operation}}{{/operations}}

{{#operations}}
{{#operation}}
## {{operationId}}

> {{#returnType}}{{#returnTypeIsPrimitive}}**{{returnType}}**{{/returnTypeIsPrimitive}}{{^returnTypeIsPrimitive}}{{returnType}}{{/returnTypeIsPrimitive}}{{/returnType}}{{^returnType}}void{{/returnType}} {{operationId}}({{#allParams}}{{#required}}{{{paramName}}}{{#vendorExtensions.x-codegen-hasMoreRequired}}, {{/vendorExtensions.x-codegen-hasMoreRequired}}{{/required}}{{/allParams}}{{#hasOptionalParams}}{{#vendorExtensions.x-codegen-hasRequiredParams}}, {{/vendorExtensions.x-codegen-hasRequiredParams}}opts{{/hasOptionalParams}})

{{#deprecated}}<span style="background-color: #f0ad4e;display: inline-block;padding: 7px;font-weight: bold;line-height: 1;color: #ffffff;text-align: center;white-space: nowrap;vertical-align: baseline;border-radius: .25em;margin: 10px 0;">DEPRECATED</span>{{/deprecated}}

{{httpMethod}} {{path}}

{{summary}}{{#notes}}

{{notes}}{{/notes}}

Requires {{permissionType}} permissions: 

{{#permissions}}
* {{.}}
{{/permissions}}

{{#bodyParam}}{{#codegenModel}}
### Request Body Schema

<script type="text/javascript">
	function copy{{classname}}Example() {
		let temp = $("<textarea>");
		$("body").append(temp);
		temp.val($('#{{classname}}Example').text()).select();
		document.execCommand("copy");
		temp.remove();
		return false;
	}
</script>

{{classname}} <a href="#" onclick="return copy{{classname}}Example()">Copy</a>

<div id="{{classname}}Example">

```{"language":"json", "maxHeight": "250px"}
{ {{#allVars}}
  "{{baseName}}": {{#isPrimitiveType}}{{datatype}},{{/isPrimitiveType}}{{^isPrimitiveType}}{{^codegenModel}}{{complexType}},{{/codegenModel}}{{#codegenModel}}{ {{#allVars}}
    "{{baseName}}": {{#isPrimitiveType}}{{datatype}},{{/isPrimitiveType}}{{^isPrimitiveType}}{{^codegenModel}}{{complexType}},{{/codegenModel}}{{#codegenModel}}{ {{#allVars}}
      "{{baseName}}": {{#isPrimitiveType}}{{datatype}},{{/isPrimitiveType}}{{^isPrimitiveType}}{{^codegenModel}}{{complexType}},{{/codegenModel}}{{#codegenModel}}{ {{#allVars}}
        "{{baseName}}": {{#isPrimitiveType}}{{datatype}},{{/isPrimitiveType}}{{^isPrimitiveType}}{{^codegenModel}}{{complexType}},{{/codegenModel}}{{#codegenModel}}{ {{#allVars}}
          "{{baseName}}": {{#isPrimitiveType}}{{datatype}},{{/isPrimitiveType}}{{^isPrimitiveType}}{{^codegenModel}}{{complexType}},{{/codegenModel}}{{#codegenModel}}{ {{#allVars}}
            "{{baseName}}": {{#isPrimitiveType}}{{datatype}},{{/isPrimitiveType}}{{^isPrimitiveType}}{{^codegenModel}}{{complexType}},{{/codegenModel}}{{#codegenModel}}{ {{#allVars}}
              "{{baseName}}": {{#isPrimitiveType}}{{datatype}},{{/isPrimitiveType}}{{^isPrimitiveType}}{{^codegenModel}}{{complexType}},{{/codegenModel}}{{#codegenModel}}{ {{#allVars}}
                "{{baseName}}": {{datatype}}, {{/allVars}}
              }, {{/codegenModel}}{{/isPrimitiveType}} {{/allVars}}
            }, {{/codegenModel}}{{/isPrimitiveType}} {{/allVars}}
          }, {{/codegenModel}}{{/isPrimitiveType}} {{/allVars}}
        }, {{/codegenModel}}{{/isPrimitiveType}} {{/allVars}}
      }, {{/codegenModel}}{{/isPrimitiveType}} {{/allVars}}
    }, {{/codegenModel}}{{/isPrimitiveType}} {{/allVars}}
  }, {{/codegenModel}}{{/isPrimitiveType}} {{/allVars}}
}
```

</div>
{{/codegenModel}}{{/bodyParam}}

### Example Usage

```{"language":"javascript"}
// Browser
const {{{moduleName}}} = require('{{{moduleName}}}');
// Node
const {{{moduleName}}} = require('{{{projectName}}}');
{{#hasAuthMethods}}
{{#authMethods}}{{#isBasic}}
// Configure HTTP basic authorization: {{{name}}}
let {{{name}}} = {{{moduleName}}}.ApiClient.instance.authentications['{{{name}}}'];
{{{name}}}.username = 'YOUR USERNAME';
{{{name}}}.password = 'YOUR PASSWORD';{{/isBasic}}{{#isApiKey}}
// Set JWT from the create chat response
{{{moduleName}}}.ApiClient.instance.setJwt(chatInfo.jwt);{{/isApiKey}}{{#isOAuth}}
// Manually set auth token or use loginImplicitGrant(...) or loginClientCredentialsGrant(...)
{{{moduleName}}}.ApiClient.instance.setAccessToken(yourAccessToken);{{/isOAuth}}
{{/authMethods}}
{{/hasAuthMethods}}

let apiInstance = new {{{moduleName}}}.{{{classname}}}();{{#hasParams}}
{{#vendorExtensions.x-codegen-hasRequiredParams}}{{#allParams}}{{#required}}
let {{{paramName}}} = {{{example}}}; // {{{dataType}}} | {{{description}}}{{/required}}{{/allParams}}{{/vendorExtensions.x-codegen-hasRequiredParams}}{{#hasOptionalParams}}
let opts = { {{#allParams}}{{^required}}
  '{{{paramName}}}': {{{example}}}{{#vendorExtensions.x-codegen-hasMoreOptional}},{{/vendorExtensions.x-codegen-hasMoreOptional}} // {{{dataType}}} | {{{description}}}{{/required}}{{/allParams}}
};{{/hasOptionalParams}}{{/hasParams}}

{{#usePromises}}
apiInstance.{{{operationId}}}({{#allParams}}{{#required}}{{{paramName}}}{{#vendorExtensions.x-codegen-hasMoreRequired}}, {{/vendorExtensions.x-codegen-hasMoreRequired}}{{/required}}{{/allParams}}{{#hasOptionalParams}}{{#vendorExtensions.x-codegen-hasRequiredParams}}, {{/vendorExtensions.x-codegen-hasRequiredParams}}opts{{/hasOptionalParams}})
  .then(({{#returnType}}data{{/returnType}}) => {
    {{#returnType}}console.log(`{{{operationId}}} success! data: ${JSON.stringify(data, null, 2)}`);{{/returnType}}{{^returnType}}console.log('{{{operationId}}} returned successfully.');{{/returnType}}
  })
  .catch((err) => {
    console.log('There was a failure calling {{{operationId}}}');
    console.error(err);
  });

{{/usePromises}}{{^usePromises}}
let callback = (error, data, response) => {
  if (error) {
    console.error(error);
  } else {
    {{#returnType}}console.log('API called successfully. Returned data: ' + data);{{/returnType}}{{^returnType}}console.log('API called successfully.');{{/returnType}}
  }
};
apiInstance.{{{operationId}}}({{#allParams}}{{#required}}{{{paramName}}}{{#vendorExtensions.x-codegen-hasMoreRequired}}, {{/vendorExtensions.x-codegen-hasMoreRequired}}{{/required}}{{/allParams}}{{#hasOptionalParams}}{{#vendorExtensions.x-codegen-hasRequiredParams}}, {{/vendorExtensions.x-codegen-hasRequiredParams}}opts{{/hasOptionalParams}}{{#hasParams}}, {{/hasParams}}callback);
{{/usePromises}}
```

### Parameters

{{^allParams}}This endpoint does not need any parameter.{{/allParams}}{{#allParams}}{{#-last}}
| Name | Type | Description  | Notes |
| ------------- | ------------- | ------------- | ------------- |{{/-last}}{{/allParams}}
{{#allParams}} **{{paramName}}** | **{{dataType}}** | {{description}} | {{^required}}[optional] {{/required}}{{#defaultValue}}[default to {{defaultValue}}]{{/defaultValue}}{{#allowableValues}}<br />**Values**: {{#values}}{{.}}{{^-last}}, {{/-last}}{{/values}}{{/allowableValues}} |
{{/allParams}}

### Return type

{{#returnType}}**{{returnType}}**{{/returnType}}{{^returnType}}void (no response body){{/returnType}}

{{/operation}}
{{/operations}}

_{{projectName}}@{{projectVersion}}_
