package {{classVarName}}

{{#operations}}
import (
	"fmt"
	"github.com/mypurecloud/platform-client-sdk-cli/build/gc/logger"
	"github.com/mypurecloud/platform-client-sdk-cli/build/gc/retry"
	"github.com/mypurecloud/platform-client-sdk-cli/build/gc/services"
	"github.com/mypurecloud/platform-client-sdk-cli/build/gc/utils"
	"github.com/mypurecloud/platform-client-sdk-cli/build/gc/models"
    "github.com/mypurecloud/platform-client-sdk-cli/build/gc/config"
	"github.com/spf13/cobra"
	"net/url"
    "os"
	"strings"
	"time"
)

var (
	Description = utils.FormatUsageDescription("{{classVarName}}", {{#operation}}"{{notes}}", {{/operation}})
	{{classVarName}}Cmd = &cobra.Command{
		Use:   utils.FormatUsageDescription("{{classVarName}}"),
		Short: Description,
		Long:  Description,
	}
	CommandService services.CommandService
)

func init() {
	CommandService = services.NewCommandService({{classVarName}}Cmd)
}

func Cmd{{classVarName}}() *cobra.Command { {{#operation}}
	{{#queryParams}}utils.AddFlag({{operationId}}Cmd.Flags(), "{{{dataType}}}", "{{paramName}}", "{{#defaultValue}}{{{.}}}{{/defaultValue}}{{^defaultValue}}{{/defaultValue}}", "{{description}}{{#required}} - REQUIRED{{/required}}{{#allowableValues}} Valid values: {{#values}}{{.}}{{^-last}}, {{/-last}}{{/values}}{{/allowableValues}}")
	{{#hasMore}}{{/hasMore}}{{/queryParams}}{{operationId}}Cmd.SetUsageTemplate(fmt.Sprintf("%s\nOperation:\n  %s %s\n%s\n%s", {{operationId}}Cmd.UsageTemplate(), "{{httpMethod}}", "{{path}}", utils.FormatPermissions([]string{ {{#permissions}}"{{.}}", {{/permissions}} }), utils.GenerateDevCentreLink("{{httpMethod}}", "{{#vendorExtensions}}{{x-purecloud-category}}{{/vendorExtensions}}", "{{path}}")))
	utils.AddFileFlagIfUpsert({{operationId}}Cmd.Flags(), "{{httpMethod}}", `{{#bodyParam}}{{{jsonSchema}}}{{/bodyParam}}`)
	{{#queryParams}}{{#required}}{{operationId}}Cmd.MarkFlagRequired("{{paramName}}")
	{{/required}}{{/queryParams}}
	{{#responses}}{{#-first}}utils.AddPaginateFlagsIfListingResponse({{operationId}}Cmd.Flags(), "{{httpMethod}}", `{{{jsonSchema}}}`){{/-first}}{{/responses}}
	{{classVarName}}Cmd.AddCommand({{operationId}}Cmd)
	{{/operation}}
	return {{classVarName}}Cmd
}

{{#operation}}
var {{operationId}}Cmd = &cobra.Command{
	Use:   "{{operationId}}{{#pathParams}} [{{paramName}}{{#hasMore}}{{/hasMore}}]{{/pathParams}}",
	Short: "{{#summary}}{{summary}}{{/summary}}",
	Long:  "{{#summary}}{{summary}}{{/summary}}",
	Args:  utils.DetermineArgs([]string{ {{#pathParams}}"{{paramName}}", {{#hasMore}}{{/hasMore}}{{/pathParams}}}),

	Run: func(cmd *cobra.Command, args []string) {
		_ = models.Entities{}

		printReqBody, _ := cmd.Flags().GetBool("printrequestbody")
		if printReqBody {
			{{#allParams}}{{#vendorExtensions}}{{#x-baseType}}
			reqModel := models.{{x-baseType}}{}
			utils.Render(reqModel.String())
			{{/x-baseType}}{{/vendorExtensions}}{{/allParams}}
			return
		}

		queryParams := make(map[string]string)

		path := "{{path}}"{{#pathParams}}
		{{paramName}}, args := args[0], args[1:]
		path = strings.Replace(path, "{{=[[ ]]=}}{[[baseName]]}[[={{ }}=]]", fmt.Sprintf("%v", {{paramName}}), -1){{/pathParams}}


		{{#hasQueryParams}}{{#queryParams}}{{paramName}} := utils.GetFlag(cmd.Flags(), "{{{dataType}}}", "{{paramName}}")
		if {{paramName}} != "" {
			queryParams["{{paramName}}"] = {{paramName}}
		}
		{{/queryParams}}{{/hasQueryParams}}urlString := path
		if len(queryParams) > 0 {
			urlString = fmt.Sprintf("%v?", path)
			for k, v := range queryParams {
				urlString += fmt.Sprintf("%v=%v&", url.QueryEscape(strings.TrimSpace(k)), url.QueryEscape(strings.TrimSpace(v)))
			}
			urlString = strings.TrimSuffix(urlString, "&")
		}

        // get the value of autopaginate in config (true or false)
        autoPaginationInConfig, _ := config.GetAutopaginate(utils.GetProfileName(os.Args))
        // only set the doAutoPaginate variable in commandservice.go if autopaginate has been enabled - gc autopaginate enable
        if autoPaginationInConfig {
            // then we will set the doAutoPagination variable in commandservice.go to true
            // this is done so we know that the GET request in Commandservice.DertermineAction() will be "List"
            services.SetDoAutoPaginationToTrue()
        }

		retryFunc := CommandService.DetermineAction("{{httpMethod}}", urlString, cmd.Flags())
		// TODO read from config file
		retryConfig := &retry.RetryConfiguration{
			RetryWaitMin: 5 * time.Second,
			RetryWaitMax: 60 * time.Second,
			RetryMax:     20,
		}
		results, err := retryFunc(retryConfig)
		if err != nil {
			logger.Fatal(err)
		}

		utils.Render(results)
	},
}
{{/operation}}{{/operations}}