# coding: utf-8

import sys
from setuptools import setup, find_packages

NAME = "{{packageName}}"
VERSION = "{{packageVersion}}"

# To install the library, run the following
#
# python setup.py install
#
# prerequisite: setuptools
# http://pypi.python.org/pypi/setuptools

REQUIRES = ["urllib3 >= 1.26.20", "certifi >= 2025.01.31", "python-dateutil >= 2.9.0.post0", "watchdog >= 5.0.0"]

setup(
    name="{{packageName}}",
    version="{{packageVersion}}",
    description="{{packageTitle}}",
    author="{{packageAuthor}}",
    author_email="{{packageAuthorEmail}}",
    url="{{packageUrl}}",
    keywords=["Swagger {{packageKeywords}}"],
    install_requires=REQUIRES,
    packages=find_packages(),
    include_package_data=True,
    long_description="{{packageDescription}}",
    license="MIT",
    python_requires=">=3.9"
)
