## Properties

| Name | Type | Description | Notes |
| ------------ | ------------- | ------------- | ------------- |
{{#vars}}| **{{name}}** | {{#isEnum}}[**{{{datatypeWithEnum}}}**](#{{datatypeWithEnum}}){{/isEnum}}{{^isEnum}}<!---->{{#items.isEnum}}[**{{datatypeWithEnum}}**](#{{{items.datatypeWithEnum}}}){{/items.isEnum}}{{^items.isEnum}}<!---->{{#isPrimitiveType}}**{{datatype}}**{{/isPrimitiveType}}{{^isPrimitiveType}}[**{{datatype}}**]({{complexType}}){{/isPrimitiveType}}{{/items.isEnum}}{{/isEnum}}<!----> | {{{description}}} | {{^required}} [optional]{{/required}}{{#readOnly}} [readonly]{{/readOnly}} |
{{/vars}}
{{#vars}}{{#isEnum}}

<a name="{{{datatypeWithEnum}}}"></a>

## Enum: {{datatypeWithEnum}}

| Name | Value |
| ---- | ----- |{{#allowableValues}}{{#enumVars.0}}
| {{#isString}}{{#values}}{{#lambda.prefixNumberWithUnderscore}}{{#lambda.replace}}{{#lambda.uppercase}}{{.}}{{/lambda.uppercase}}{{/lambda.replace}}{{/lambda.prefixNumberWithUnderscore}} | &quot;{{.}}&quot; | {{^-last}}
| {{/-last}}{{#-last}}{{/-last}}{{/values}}{{/isString}}{{^isString}}{{#values}}{{#lambda.replace}}{{#lambda.prefixNumberWithWord}}{{#lambda.uppercase}}{{.}}{{/lambda.uppercase}}{{/lambda.prefixNumberWithWord}}{{/lambda.replace}} | {{.}} | {{^-last}}
| {{/-last}}{{#-last}}{{/-last}}{{/values}}{{/isString}}{{/enumVars.0}}{{/allowableValues}}
{{/isEnum}}{{#items.isEnum}}

<a name="{{{items.datatypeWithEnum}}}"></a>

## Enum: {{items.datatypeWithEnum}}

| Name | Value |
| ---- | ----- |{{#items.allowableValues}}{{#enumVars}}
| {{name}} | {{value}} |{{/enumVars}}{{/items.allowableValues}}
{{/items.isEnum}}{{/vars}}
