{
    {{#operations}}{{#operation}}"{{httpMethod}} {{path}}": {
        "functionName": "{{{operationId}}}",
        "signature": "{{{operationId}}}({{#allParams}}{{paramName}}{{#hasMore}}, {{/hasMore}}{{/allParams}})"{{#hasParams}},{{/hasParams}}{{^hasParams}}{{#returnType}},{{/returnType}}{{/hasParams}}
        {{#hasParams}}"parameters": [{{#allParams}}
            {
                "name": "{{paramName}}",
                "type": "{{dataType}}"
            }{{#hasMore}},{{/hasMore}}{{/allParams}}
        ]{{/hasParams}}{{#returnType}}{{#hasParams}},{{/hasParams}}
        "return": "{{returnType}}"{{/returnType}}
    }{{#hasMore}},{{/hasMore}}
    {{/operation}}{{/operations}}
}