
public class {{classname}}: Codable {

{{#allVars}}
{{#isEnum}}{{^isBoolean}}{{> modelInlineEnumDeclaration}}{{/isBoolean}}{{/isEnum}}
{{^isEnum}}{{#isArray}}{{#enumName}}{{> modelInlineEnumDeclaration}}{{/enumName}}{{/isArray}}{{/isEnum}}
{{/allVars}}
{{#allVars}}
{{#isEnum}}
    {{#description}}/** {{{description}}} */
    {{/description}}public var {{name}}: {{{datatypeWithEnum}}}{{^required_ifSwaggerDocsGuaranteed}}?{{/required_ifSwaggerDocsGuaranteed}}{{#defaultValue}} = {{{defaultValue}}}{{/defaultValue}}
{{/isEnum}}
{{^isEnum}}
{{#isArray}}
{{#enumName}}
    {{#description}}/** {{{description}}} */
    {{/description}}public var {{name}}: {{{datatypeWithEnum}}}{{^required_ifSwaggerDocsGuaranteed}}?{{/required_ifSwaggerDocsGuaranteed}}{{#defaultValue}} = {{{defaultValue}}}{{/defaultValue}}
{{/enumName}}
{{^enumName}}
    {{#description}}/** {{{description}}} */
    {{/description}}public var {{name}}: {{{datatype}}}{{^required_ifSwaggerDocsGuaranteed}}?{{/required_ifSwaggerDocsGuaranteed}}{{#defaultValue}} = {{{defaultValue}}}{{/defaultValue}}{{#objcCompatible}}{{#vendorExtensions.x-swift-optional-scalar}}
    public var {{name}}Num: NSNumber? {
        get {
            return {{name}}.map({ return NSNumber(value: $0) })
        }
    }{{/vendorExtensions.x-swift-optional-scalar}}{{/objcCompatible}}
{{/enumName}}
{{/isArray}}
{{^isArray}}
    {{#description}}/** {{{description}}} */
    {{/description}}public var {{name}}: {{{datatype}}}{{^required_ifSwaggerDocsGuaranteed}}?{{/required_ifSwaggerDocsGuaranteed}}{{#defaultValue}} = {{{defaultValue}}}{{/defaultValue}}{{#objcCompatible}}{{#vendorExtensions.x-swift-optional-scalar}}
    public var {{name}}Num: NSNumber? {
        get {
            return {{name}}.map({ return NSNumber(value: $0) })
        }
    }{{/vendorExtensions.x-swift-optional-scalar}}{{/objcCompatible}}
{{/isArray}}
{{/isEnum}}
{{/allVars}}

{{#hasVars}}
    public init({{#allVars}}{{name}}: {{{datatypeWithEnum}}}{{^required_ifSwaggerDocsGuaranteed}}?{{/required_ifSwaggerDocsGuaranteed}}{{^-last}}, {{/-last}}{{/allVars}}) {
        {{#allVars}}
        self.{{name}} = {{name}}
        {{/allVars}}
    }
{{/hasVars}}
{{#additionalPropertiesType}}
    // TAG-REMOVE-MODEL-FILE
{{/additionalPropertiesType}}
{{^additionalPropertiesType}}{{#vendorExtensions.x-codegen-has-escaped-property-names}}
    public enum CodingKeys: String, CodingKey { {{#allVars}}
        case {{name}}{{#vendorExtensions.x-codegen-escaped-property-name}} = "{{{baseName}}}"{{/vendorExtensions.x-codegen-escaped-property-name}}{{/allVars}}
    }
{{/vendorExtensions.x-codegen-has-escaped-property-names}}{{/additionalPropertiesType}}

}
