Pod::Spec.new do |s|
  s.name = '{{projectName}}'{{#projectDescription}}
  s.summary = '{{projectDescription}}'{{/projectDescription}}
  s.ios.deployment_target = '10.0'
  s.osx.deployment_target = '10.11'
  s.swift_version = '5.0'
  s.version = '{{podVersion}}'
  s.source = { :git => 'https://github.com/MyPureCloud/platform-client-sdk-ios.git', :tag => '{{podVersion}}' }{{#podAuthors}}
  s.authors = '{{podAuthors}}'{{/podAuthors}}{{#podSocialMediaURL}}
  s.social_media_url = '{{podSocialMediaURL}}'{{/podSocialMediaURL}}{{#podDocsetURL}}
  #s.docset_url = '{{podDocsetURL}}'{{/podDocsetURL}}
  s.license = {{#podLicense}}'{{& podLicense}}'{{/podLicense}}{{^podLicense}}'Proprietary'{{/podLicense}}{{#podHomepage}}
  s.homepage = '{{podHomepage}}'{{/podHomepage}}{{#podSummary}}
  s.summary = '{{podSummary}}'{{/podSummary}}{{#podDescription}}
  s.description = '{{podDescription}}'{{/podDescription}}{{#podScreenshots}}
  s.screenshots = {{& podScreenshots}}{{/podScreenshots}}{{#podDocumentationURL}}
  s.documentation_url = '{{podDocumentationURL}}'{{/podDocumentationURL}}
  s.source_files = 'build/src/**/*.swift'
end
