---
title: Platform API Client SDK - iOS (Swift 4)
---

Documentation can be found at [https://developer.mypurecloud.com/api/rest/client-libraries/ios/](https://developer.mypurecloud.com/api/rest/client-libraries/ios/)

## Install using CocoaPods

This package can be found at https://cocoapods.org/pods/{{projectName}}

Add the following to your project's Podfile:

```
pod '{{projectName}}'
```

Then install this dependency in your project:

```
$ pod install
```


## Using the SDK

### Import the SDK:

~~~ swift
import {{projectName}}
~~~

### Configure the SDK Client:

#### Setting an access token

The iOS SDK does not currently contain helper methods to complete an OAuth flow. The consuming applicaiton must complete an OAuth flow to get an access token outside the scope of the SDK. For more information about authenticating with OAuth, see the Developer Center article [Authorization](https://developer.mypurecloud.com/api/rest/authorization/index.html). Once an access token is obtained, it should be set on the SDK as follows:

~~~ swift
{{projectName}}API.accessToken = "YOUR_ACCESS_TOKEN"
~~~


#### Setting the environment

If connecting to a PureCloud environment other than mypurecloud.com (e.g. mypurecloud.ie), set the new base path before constructing any API classes. The new base path should be the base path to the Platform API for your environment.

~~~ swift
{{projectName}}API.basePath = "https://api.mypurecloud.ie"
~~~


### Making requests

In order to make a request, call the desired method on one of the SDK's API classes. For example, to get details for the authenticated user:

~~~ swift
let getUsersMeExpand = [UsersAPI.Expand_getUsersMe.presence].map { $0.rawValue }
UsersAPI.getUsersMe(expand: getUsersMeExpand) { (userMe, error) in
    if let error = error {
        // handle error
        print("Error: \(error.localizedDescription)\n\(error)")
    } else if let userMe = userMe {
        // handle response UserMe object
        print("Success: \(String(describing: userMe.name))")
    }
}
~~~


## SDK Source Code Generation

The SDK is automatically regenerated and published from the API's definition after each API release. For more information on the build process, see the [platform-client-sdk-common](https://github.com/MyPureCloud/platform-client-sdk-common) project.


## Versioning

The SDK's version is incremented according to the [Semantic Versioning Specification](https://semver.org/). The decision to increment version numbers is determined by [diffing the Platform API's swagger](https://github.com/purecloudlabs/platform-client-sdk-common/blob/master/modules/swaggerDiff.js) for automated builds, and optionally forcing a version bump when a build is triggered manually (e.g. releasing a bugfix).


## Support

This package is intended to be forwards compatible with v2 of PureCloud's Platform API. While the general policy for the API is not to introduce breaking changes, there are certain additions and changes to the API that cause breaking changes for the SDK, often due to the way the API is expressed in its swagger definition. Because of this, the SDK can have a major version bump while the API remains at major version 2. While the SDK is intended to be forward compatible, patches will only be released to the latest version. For these reasons, it is strongly recommended that all applications using this SDK are kept up to date and use the latest version of the SDK.

For any issues, questions, or suggestions for the SDK, visit the [PureCloud Developer Forum](https://developer.mypurecloud.com/forum/).
