export default {
	input: 'src/{{#invokerPackage}}{{invokerPackage}}{{/invokerPackage}}/index.js',
	output: {
		file: 'lib/web-amd/{{#invokerPackage}}{{invokerPackage}}{{/invokerPackage}}.js',
		format: 'amd'
	},
	external: [
		'superagent'
	]
};