---
title: {{classname}}
---
## {{classname}}{{#description}}
{{description}}{{/description}}

All URIs are relative to *{{basePath}}*

| Method | Description |
| ------------- | ------------- |
{{#operations}}{{#operation}}| [**{{operationId}}**]({{classname}}.html#{{operationId}}) | {{#summary}}{{{summary}}}{{/summary}} |
{{/operation}}{{/operations}}{: class="table-striped"}

{{#operations}}
{{#operation}}
<a name="{{operationId}}"></a>

# **{{operationId}}**

{{#isDeprecated}}<span style="background-color: #f0ad4e;display: inline-block;padding: 7px;font-weight: bold;line-height: 1;color: #ffffff;text-align: center;white-space: nowrap;vertical-align: baseline;border-radius: .25em;margin: 10px 0;">DEPRECATED</span>{{/isDeprecated}}

> {{#returnType}}{{#returnTypeIsPrimitive}}{{returnType}}{{/returnTypeIsPrimitive}}{{^returnTypeIsPrimitive}}[{{returnType}}]({{returnBaseType}}.html){{/returnTypeIsPrimitive}}{{/returnType}}{{^returnType}}Void{{/returnType}} {{operationId}}({{#allParams}}{{{paramName}}}{{#hasMore}}, {{/hasMore}}{{/allParams}})

{{{summary}}}{{#notes}}

{{{notes}}}{{/notes}}{{#vendorExtensions.x-genesys-preview}}

{{operationId}} is a preview method and is subject to both breaking and non-breaking changes at any time without notice{{/vendorExtensions.x-genesys-preview}}

Wraps {{&httpMethod}} {{&path}}  

{{#vendorExtensions.x-inin-requires-permissions}}
Requires {{type}} permissions: 

{{#permissions}}
* {{.}}
{{/permissions}}
{{/vendorExtensions.x-inin-requires-permissions}}
{{^vendorExtensions.x-inin-requires-permissions}}
Requires NO permissions: 

{{/vendorExtensions.x-inin-requires-permissions}}

### Example

```{"language":"java"}
//Import classes:{{#hasAuthMethods}}
import {{{invokerPackage}}}.ApiClient;{{/hasAuthMethods}}
import {{{invokerPackage}}}.ApiException;{{#hasAuthMethods}}
import {{{invokerPackage}}}.Configuration;
import {{{invokerPackage}}}.auth.*;{{/hasAuthMethods}}
import {{{package}}}.{{{classname}}};

{{#hasAuthMethods}}
ApiClient defaultClient = Configuration.getDefaultApiClient();
{{#authMethods}}{{#isBasic}}
// Configure HTTP basic authorization: {{{name}}}
HttpBasicAuth {{{name}}} = (HttpBasicAuth) defaultClient.getAuthentication("{{{name}}}");
{{{name}}}.setUsername("YOUR USERNAME");
{{{name}}}.setPassword("YOUR PASSWORD");{{/isBasic}}{{#isApiKey}}
// Configure API key authorization: {{{name}}}
ApiKeyAuth {{{name}}} = (ApiKeyAuth) defaultClient.getAuthentication("{{{name}}}");
{{{name}}}.setApiKey("YOUR API KEY");
// Uncomment the following line to set a prefix for the API key, e.g. "Token" (defaults to null)
//{{{name}}}.setApiKeyPrefix("Token");{{/isApiKey}}{{#isOAuth}}
// Create ApiClient instance
ApiClient apiClient = ApiClient.Builder.standard()
		.withAccessToken(accessToken)
		.withBasePath("https://api.mypurecloud.com")
		.build();

// Use the ApiClient instance
Configuration.setDefaultApiClient(apiClient);{{/isOAuth}}
{{/authMethods}}
{{/hasAuthMethods}}

{{{classname}}} apiInstance = new {{{classname}}}();
{{#allParams}}
{{{dataType}}} {{{paramName}}} = {{{example}}}; // {{{dataType}}} | {{{description}}}
{{/allParams}}
try {
    {{#returnType}}{{{returnType}}} result = {{/returnType}}apiInstance.{{{operationId}}}({{#allParams}}{{{paramName}}}{{#hasMore}}, {{/hasMore}}{{/allParams}});{{#returnType}}
    System.out.println(result);{{/returnType}}
} catch (ApiException e) {
    System.err.println("Exception when calling {{{classname}}}#{{{operationId}}}");
    e.printStackTrace();
}
```

### Parameters

{{^allParams}}This endpoint does not require any parameters.{{/allParams}}{{#allParams}}{{#-last}}
| Name | Type | Description  | Notes |
| ------------- | ------------- | ------------- | ------------- |{{/-last}}{{/allParams}}
{{#allParams}}| **{{paramName}}** | {{#isPrimitiveType}}**{{dataType}}**{{/isPrimitiveType}}{{^isPrimitiveType}}{{#isFile}}**{{dataType}}**{{/isFile}}{{^isFile}}[**{{dataType}}**]({{baseType}}.html){{/isFile}}{{/isPrimitiveType}}| {{description}} |{{^required}} [optional]{{/required}}{{#defaultValue}} [default to {{defaultValue}}]{{/defaultValue}}{{#allowableValues}}<br />**Values**: {{#values}}{{.}}{{^-last}}, {{/-last}}{{/values}}{{/allowableValues}} 
{{/allParams}}{{#allParams}}{{#-last}}{: class="table-striped"}{{/-last}}{{/allParams}}


### Return type

{{#returnType}}{{#returnTypeIsPrimitive}}**{{returnType}}**{{/returnTypeIsPrimitive}}{{^returnTypeIsPrimitive}}[**{{returnType}}**]({{returnBaseType}}.html){{/returnTypeIsPrimitive}}{{/returnType}}{{^returnType}}null (empty response body){{/returnType}}

{{/operation}}
{{/operations}}
